/*
	Style Sheet for the ticket selling pages
*/

.buybox {
	width: 900px;
	margin: 50px auto 0;
	padding-top: 30px;

	background-color: $contentbg;
	text-align: center;

	input, select {
		text-align: center;
		border: 1px solid $buttoncolor;

		&:focus {
			border-color: tint($buttoncolor, 60%);
		}
	}
	button {
		@include button($buttoncolor);
	}
}

.cartbox {
	width: 600px;
	margin: 50px auto 0;
	padding-top: 30px;

	background-color: $contentbg;

	table {
		width: 100%;
	}
	button {
		@include button($buttoncolor);
	}
}

.businfo_pane, .rbusinfo_pane {

	&:hover {
		opacity: 0.8;
		cursor: pointer;
	}
}

.info_pane {
	position: fixed;
	right: -50%;
	top: 0;
	height: 100%;
	width: 50%;
	background-color: darken($contentbg, 50%);
}