/*
	Style Sheet for the ticket selling pages
*/

.sellbox {
	width: 900px;
	margin: 0 auto;

	background-color: $contentbg;
	font-size: 30px;
	text-align: center;

	input, select{
		font-size: 50px;
		width: 600px;
		text-align: center;
		border: 3px solid $buttoncolor;

		&:focus {
			border-color: tint($buttoncolor, 60%);
		}
	}
	button {
		@include button($buttoncolor);
		margin-top: 50px;
		font-size: 60px;
		width: 200px
	}
}