/log/*.log
/tmp
/db/*.sqlite3
/db/schema.rb
/config/session_secret
/config/database.yml
/config/initalizers/secret_token.rb
*~
*.swp
*.vim
*.patch
*.swo
Thumbs.db
.bundle
bin
vendor/bundle
/lib/keys.rb
