<div class="button_navs">
	<a href="/admin"><button class="button_admin">Admin</button></a>
	<a href="/"><button class="button_buy">Buy</button></a>
	<a href="/tickets/sell"><button class="button_sell">Sell</button></a>
	<a href="/cart"><button class="button_cart">My Cart</button></a>
	<a href="/cart"><button class="button_cart">My Account</button></a>
</div>