<%= javascript_include_tag "selling" %>

<div class="sellbox">
	Student Number<br/>
	<input class="stud_num"></input><br/><br/>

	<div class="hidden_fields">
		Userid<br/>
		<input class="userid"></input><br/>
		<button class="create_user">></button>
	</div>

</div>

<div class="ajax">
	<%= image_tag "ajax-loader.gif", :class => "ajax_loader" %>
</div>